<div style="display:flex; align-items:center; justify-content:center;flex-direction:column;">
    <h1 style="font-size: 40px;padding:40px 10px;">Welcome to ASP.NET CORE Intro</h1>
    <a href="" style="font-size:30px;">Go to About page</a>
</div>
